<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=KARTHIK-VAIO\SQLEXPRESS;Initial Catalog=MicroLearning;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <behaviors>
          
          <endpointBehaviors>
            <behavior name="RestBehavior">
              <webHttp />
            </behavior>
          </endpointBehaviors>
          
            <serviceBehaviors>
              
              <behavior name="MetadataBehavior">
                <serviceMetadata httpGetEnabled="true" />
              </behavior>
              
                <!--<behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>-->
            </serviceBehaviors>
        </behaviors>
      
      <services>
      <service behaviorConfiguration="MetadataBehavior" name="MicroLearning.Services.WCFServices">
        <endpoint address="Soap" binding="basicHttpBinding" bindingConfiguration="" name="Soap" contract="MicroLearning.Services.IWCFServices" />
        <endpoint behaviorConfiguration="RestBehavior" binding="webHttpBinding" bindingConfiguration="" name="REST" contract="MicroLearning.Services.IWCFServices" />
      </service>

      </services>
        
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    
  </system.serviceModel>
</configuration>
